@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



body {
    text-align: center;
    background-color: #374499;
    color: #8F99DA;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-style:unset;
}

h1 {
    text-align: center;
    margin-top: 90px;
    color:#8F99DA;
}

button {
    border-style: none;
    color: white;
    background-color: #6977CC;
    border-radius:30px;
    width: 240px;
    height: 40px;
    justify-content: center;
}

button > a {
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
}

.forms-login {
    text
}

input {
    border-style: none;
    margin: 5px;
    border-radius: 30px;
    width: 240px;
    height: 40px;
    text-align: center;
    background-color: #B5BCE7;
    color: #374499;
    overflow: auto;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 1rem;
}

.container {
    display: none;
}

@media (min-width: 768px) {
    .container {
        display: inline-block;
    }

    .cadastro {
        display:none;
    }

    .text-ou {
        display:none;
    }

    button {
        margin: 5px;
    }

    .inicio {
        display: inline-block;
    }
}