body {
    text-align: center;
    background-color: #374499;
    color: #8F99DA;
}

h1 {
    text-align: center;
    margin-top: 90px;
    color:#8F99DA;
}

button {
    border-style: none;
    color: white;
    background-color: #6977CC;
    border-radius:30px;
    width: 240px;
    height: 40px;
    justify-content: center;
}

button > a {
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
}

.forms-login {
    text
}

input {
    border-style: none;
    margin: 5px;
    border-radius: 30px;
    width: 240px;
    height: 40px;
    text-align: center;
    background-color: #B5BCE7;
    color: #374499;
}

p {
    margin-top: 10px;
    margin-bottom: 1rem;
}

input::before{
    @media {
        
    }
}